In [5]:
import pandas as pd

In [7]:
weather = pd.read_csv('data/weather.csv')
test = pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')

In [8]:
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.00,1012.0,10.00,2013-01-01 01:00:00
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.00,1012.3,10.00,2013-01-01 02:00:00
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.00,1012.5,10.00,2013-01-01 03:00:00
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.00,1012.2,10.00,2013-01-01 04:00:00
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.00,1011.9,10.00,2013-01-01 05:00:00
5,EWR,2013,1,1,6,37.94,28.04,67.21,240.0,11.50780,NaN,0.00,1012.4,10.00,2013-01-01 06:00:00
6,EWR,2013,1,1,7,39.02,28.04,64.43,240.0,14.96014,NaN,0.00,1012.2,10.00,2013-01-01 07:00:00
7,EWR,2013,1,1,8,39.92,28.04,62.21,250.0,10.35702,NaN,0.00,1012.2,10.00,2013-01-01 08:00:00
8,EWR,2013,1,1,9,39.92,28.04,62.21,260.0,14.96014,NaN,0.00,1012.7,10.00,2013-01-01 09:00:00
9,EWR,2013,1,1,10,41.00,28.04,59.65,260.0,13.80936,NaN,0.00,1012.4,10.00,2013-01-01 10:00:00
10,EWR,2013,1,1,11,41.00,26.96,57.06,260.0,14.96014,NaN,0.00,1011.4,10.00,2013-01-01 11:00:00
11,EWR,2013,1,1,13,39.20,28.40,69.67,330.0,16.11092,NaN,0.00,NaN,10.00,2013-01-01 13:00:00
12,EWR,2013,1,1,14,39.02,24.08,54.68,280.0,13.80936,NaN,0.00,1010.8,10.00,2013-01-01 14:00:00
13,EWR,2013,1,1,15,37.94,24.08,57.04,290.0,9.20624,NaN,0.00,1011.9,10.00,2013-01-01 15:00:00
14,EWR,2013,1,1,16,37.04,19.94,49.62,300.0,13.80936,20.71404,0.00,1012.1,10.00,2013-01-01 16:00:00
15,EWR,2013,1,1,17,35.96,19.04,49.83,330.0,11.50780,NaN,0.00,1013.2,10.00,2013-01-01 17:00:00
16,EWR,2013,1,1,18,33.98,15.08,45.43,310.0,12.65858,25.31716,0.00,1014.1,10.00,2013-01-01 18:00:00
17,EWR,2013,1,1,19,33.08,12.92,42.84,320.0,10.35702,NaN,0.00,1014.4,10.00,2013-01-01 19:00:00
18,EWR,2013,1,1,20,32.00,15.08,49.19,310.0,14.96014,NaN,0.00,1015.2,10.00,2013-01-01 20:00:00
19,EWR,2013,1,1,21,30.02,12.92,48.48,320.0,18.41248,26.46794,0.00,1016.0,10.00,2013-01-01 21:00:00
20,EWR,2013,1,1,22,28.94,12.02,48.69,320.0,18.41248,25.31716,0.00,1016.5,10.00,2013-01-01 22:00:00
21,EWR,2013,1,1,23,28.04,10.94,48.15,310.0,16.11092,NaN,0.00,1016.4,10.00,2013-01-01 23:00:00
22,EWR,2013,1,2,0,26.96,10.94,50.34,310.0,14.96014,25.31716,0.00,1016.3,10.00,2013-01-02 00:00:00
23,EWR,2013,1,2,1,26.06,10.94,52.25,330.0,12.65858,24.16638,0.00,1016.3,10.00,2013-01-02 01:00:00
24,EWR,2013,1,2,2,24.98,10.94,54.65,330.0,13.80936,NaN,0.00,1017.0,10.00,2013-01-02 02:00:00
25,EWR,2013,1,2,3,24.08,8.96,51.93,320.0,14.96014,NaN,0.00,1016.6,10.00,2013-01-02 03:00:00
26,EWR,2013,1,2,4,24.08,8.96,51.93,330.0,12.65858,NaN,0.00,1016.9,10.00,2013-01-02 04:00:00
27,EWR,2013,1,2,5,24.08,8.96,51.93,330.0,6.90468,NaN,0.00,1016.9,10.00,2013-01-02 05:00:00
28,EWR,2013,1,2,6,24.08,8.96,51.93,310.0,3.45234,NaN,0.00,1017.2,10.00,2013-01-02 06:00:00
29,EWR,2013,1,2,7,24.98,10.04,52.50,300.0,6.90468,NaN,0.00,1017.6,10.00,2013-01-02 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26085,LGA,2013,12,29,13,42.80,37.94,88.76,70.0,12.65858,NaN,0.19,NaN,2.50,2013-12-29 13:00:00
26086,LGA,2013,12,29,14,41.00,37.94,93.19,60.0,18.41248,NaN,0.21,NaN,1.75,2013-12-29 14:00:00
26087,LGA,2013,12,29,15,41.00,39.02,92.59,40.0,13.80936,NaN,0.37,999.9,1.50,2013-12-29 15:00:00
26088,LGA,2013,12,29,16,41.00,37.94,88.76,350.0,8.05546,23.01560,0.28,998.7,1.50,2013-12-29 16:00:00
26089,LGA,2013,12,29,17,44.06,41.00,93.24,350.0,20.71404,NaN,0.04,NaN,5.00,2013-12-29 17:00:00
26090,LGA,2013,12,29,18,42.08,39.02,88.81,330.0,14.96014,NaN,0.00,997.2,3.00,2013-12-29 18:00:00
26091,LGA,2013,12,29,19,42.80,37.94,85.13,320.0,17.26170,NaN,0.00,NaN,8.00,2013-12-29 19:00:00
26092,LGA,2013,12,29,20,42.08,37.94,86.89,320.0,19.56326,NaN,0.00,NaN,10.00,2013-12-29 20:00:00
26093,LGA,2013,12,29,21,42.80,37.40,82.17,320.0,16.11092,NaN,0.00,NaN,10.00,2013-12-29 21:00:00
26094,LGA,2013,12,29,22,42.98,37.04,79.38,300.0,9.20624,NaN,0.00,1003.8,10.00,2013-12-29 22:00:00
26095,LGA,2013,12,29,23,42.98,35.06,73.39,310.0,17.26170,24.16638,0.00,1005.1,10.00,2013-12-29 23:00:00
26096,LGA,2013,12,30,0,42.08,33.98,72.78,320.0,11.50780,NaN,0.00,1005.9,10.00,2013-12-30 00:00:00
26097,LGA,2013,12,30,1,42.08,33.98,72.78,250.0,9.20624,NaN,0.00,1007.6,10.00,2013-12-30 01:00:00
26098,LGA,2013,12,30,2,41.00,33.98,75.88,240.0,8.05546,NaN,0.00,1008.3,10.00,2013-12-30 02:00:00
26099,LGA,2013,12,30,3,42.98,33.98,70.30,270.0,9.20624,NaN,0.00,1008.2,10.00,2013-12-30 03:00:00
26100,LGA,2013,12,30,4,41.00,33.08,73.19,0.0,0.00000,NaN,0.00,1008.9,10.00,2013-12-30 04:00:00
26101,LGA,2013,12,30,5,42.98,33.08,67.81,250.0,10.35702,NaN,0.00,1009.2,10.00,2013-12-30 05:00:00
26102,LGA,2013,12,30,6,42.98,33.98,70.30,230.0,6.90468,NaN,0.00,1010.8,10.00,2013-12-30 06:00:00
26103,LGA,2013,12,30,7,44.06,35.06,70.42,240.0,11.50780,NaN,0.00,1011.9,10.00,2013-12-30 07:00:00
26104,LGA,2013,12,30,8,44.06,33.98,67.45,260.0,11.50780,NaN,0.00,1012.9,10.00,2013-12-30 08:00:00
26105,LGA,2013,12,30,9,44.06,33.08,65.07,260.0,13.80936,NaN,0.00,1013.7,10.00,2013-12-30 09:00:00
26106,LGA,2013,12,30,10,42.98,33.80,70.28,330.0,16.11092,NaN,0.00,NaN,10.00,2013-12-30 10:00:00
26107,LGA,2013,12,30,11,41.00,28.40,62.21,340.0,13.80936,23.01560,0.00,NaN,10.00,2013-12-30 11:00:00
26108,LGA,2013,12,30,12,37.94,23.00,54.51,330.0,21.86482,27.61872,0.00,1015.7,10.00,2013-12-30 12:00:00
26109,LGA,2013,12,30,13,37.04,21.92,53.97,340.0,17.26170,20.71404,0.00,1016.5,10.00,2013-12-30 13:00:00
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.00,1017.1,10.00,2013-12-30 14:00:00
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.00,1018.8,10.00,2013-12-30 15:00:00
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.00,1019.5,10.00,2013-12-30 16:00:00
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.00,1019.9,10.00,2013-12-30 17:00:00
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.00,1020.9,10.00,2013-12-30 18:00:00

In [10]:
weather.groupby('origin').count()

,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
origin,,,,,,,,,,,,,,
EWR,8703,8703,8703,8703,8702,8702,8702,8447,8702,1802,8703,7768,8703,8703
JFK,8706,8706,8706,8706,8706,8706,8706,8655,8703,1507,8706,7875,8706,8706
LGA,8706,8706,8706,8706,8706,8706,8706,8553,8706,2028,8706,7743,8706,8706

In [5]:
test['date'] =

,id,year,month,day,sched_dep_time,sched_arr_time,carrier,origin,dest,distance
0,1,2013,2,6,1130,1430,DL,JFK,MCO,944
1,3,2013,10,30,1450,1745,UA,EWR,MCO,937
2,5,2013,2,10,1935,2145,9E,JFK,CLE,425
3,6,2013,4,20,1626,1857,EV,EWR,ATL,746
4,11,2013,7,10,1845,2115,DL,JFK,PHX,2153

In [6]:
train.head()

,id,is_delayed,year,month,day,sched_dep_time,sched_arr_time,carrier,origin,dest,distance
0,0,0,2013,12,15,1030,1359,UA,EWR,LAX,2454
1,2,1,2013,4,2,1630,1847,DL,LGA,DTW,502
2,4,1,2013,5,13,2055,2215,MQ,EWR,ORD,719
3,7,0,2013,6,1,855,1120,MQ,LGA,ATL,762
4,8,0,2013,9,19,852,1207,UA,EWR,SNA,2434

In [13]:
sample_submission.head()

   id  is_delayed
0   1           0
1   3           0
2   5           0
3   6           0
4  11           0

In [2]:
12 // 3

4

In [9]:
test.sort_values(by=["origin", "year", "month", "day", "sched_dep_time"], inplace=True)

In [10]:
test

,id,year,month,day,sched_dep_time,sched_arr_time,carrier,origin,dest,distance
140242,280700,2013,1,1,515,819,UA,EWR,IAH,1400
1786,3538,2013,1,1,558,728,UA,EWR,ORD,719
6844,13673,2013,1,1,600,854,B6,EWR,FLL,1065
72292,144714,2013,1,1,600,902,UA,EWR,LAS,2227
101481,203110,2013,1,1,608,728,EV,EWR,IAD,212
38442,76804,2013,1,1,630,833,US,EWR,CLT,529
54236,108691,2013,1,1,630,947,UA,EWR,LAX,2454
9776,19590,2013,1,1,645,1030,UA,EWR,SNA,2434
147174,294422,2013,1,1,645,848,US,EWR,CLT,529
112032,224438,2013,1,1,646,940,UA,EWR,PBI,1023
20168,40307,2013,1,1,700,1011,UA,EWR,TPA,997
98857,197958,2013,1,1,725,1030,AS,EWR,SEA,2402
127243,254680,2013,1,1,739,1038,UA,EWR,IAH,1400
10992,22015,2013,1,1,746,1129,UA,EWR,SFO,2565
58536,117169,2013,1,1,805,919,B6,EWR,BOS,200
23738,47483,2013,1,1,815,1050,EV,EWR,JAX,820
99780,199779,2013,1,1,815,1016,US,EWR,CLT,529
29405,58859,2013,1,1,823,1143,UA,EWR,LAX,2454
82637,165551,2013,1,1,823,1135,UA,EWR,DFW,1372
154231,308707,2013,1,1,830,1140,UA,EWR,MCO,937
14304,28675,2013,1,1,843,1125,UA,EWR,DEN,1605
50989,102176,2013,1,1,845,1205,B6,EWR,RSW,1068
76534,153316,2013,1,1,851,1222,UA,EWR,SEA,2402
159133,318559,2013,1,1,851,1136,UA,EWR,JAC,1874
55650,111436,2013,1,1,859,1105,DL,EWR,DTW,488
57007,114124,2013,1,1,900,1043,UA,EWR,CLE,404
76656,153556,2013,1,1,900,1203,UA,EWR,FLL,1065
86003,172287,2013,1,1,900,1133,DL,EWR,ATL,746
168080,336545,2013,1,1,903,1045,UA,EWR,ORD,719
118482,237387,2013,1,1,905,1209,UA,EWR,TPA,997
...,...,...,...,...,...,...,...,...,...,...
97130,194550,2013,12,31,1355,1525,WN,LGA,MDW,725
129660,259550,2013,12,31,1419,1714,B6,LGA,PBI,1035
113651,227690,2013,12,31,1425,1653,FL,LGA,ATL,762
148194,296514,2013,12,31,1425,1625,MQ,LGA,MSP,1020
143582,287368,2013,12,31,1432,1555,YV,LGA,IAD,229
58920,117945,2013,12,31,1450,1803,UA,LGA,IAH,1416
64405,128871,2013,12,31,1450,1650,MQ,LGA,CLT,544
94798,189747,2013,12,31,1500,1730,MQ,LGA,ATL,762
159282,318839,2013,12,31,1500,1742,DL,LGA,ATL,762
35358,70739,2013,12,31,1520,1850,DL,LGA,MIA,1096
43430,86877,2013,12,31,1520,1705,AA,LGA,ORD,733
55145,110440,2013,12,31,1535,1849,DL,LGA,TPA,1010
56774,113696,2013,12,31,1550,1915,AA,LGA,MIA,1096
130900,262031,2013,12,31,1615,1800,MQ,LGA,RDU,431
145752,291636,2013,12,31,1620,1757,EV,LGA,ORF,296
65158,130332,2013,12,31,1629,1932,B6,LGA,PBI,1035
144342,288812,2013,12,31,1629,1838,DL,LGA,DTW,502
134801,269863,2013,12,31,1645,1815,WN,LGA,MDW,725
137942,276143,2013,12,31,1650,1920,WN,LGA,DEN,1620
122312,244942,2013,12,31,1659,1946,DL,LGA,ATL,762
125923,252041,2013,12,31,1700,1840,WN,LGA,BNA,764
26015,52077,2013,12,31,1729,1955,FL,LGA,ATL,762
103450,207142,2013,12,31,1729,2012,DL,LGA,ATL,762
30156,60362,2013,12,31,1750,2053,DL,LGA,MCO,950
147189,294446,2013,12,31,1750,2045,B6,LGA,MCO,950
159353,318982,2013,12,31,1855,2059,US,LGA,CLT,544
111287,222971,2013,12,31,1915,2149,DL,LGA,DEN,1620
122372,245065,2013,12,31,1930,2232,DL,LGA,MCO,950
7598,15143,2013,12,31,1935,2203,FL,LGA,ATL,762
55928,111985,2013,12,31,2101,2346,B6,LGA,MCO,950